<header class="header-bar" *ngIf="mostarHeader">
  <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" >E-COMMERCE GT</a>                
                <div class="collapse navbar-collapse">
                    <input type="text" class="form-control w-50" placeholder="Buscar productos..." /> 
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a
                          class="nav-link btn btn-primary"
                          (click)="irACuenta()"
                          routerLinkActive="active"
                          ariaCurrentWhenActive="page">
                          CUENTA
                        </a>
                      </li>
                    </ul>  
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link btn btn-dark" routerLink="/carrito" routerLinkActive="active" ariaCurrentWhenActive="page">CARRITO</a>
                        </li>
                    </ul>                       
                </div>
            </nav>

        </div>
</header>
<div class="container mt-4" *ngIf="mostarArticulos"> 

  <section class="mb-5">
    <h4 class="mb-3">Categorías</h4>
    <div id="carouselCategorias" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let grupo of categoriasAgrupadas; let i = index"
          [class.active]="i === 0"
        >
          <div class="d-flex justify-content-center gap-3">
            <div *ngFor="let cat of grupo" class="card p-3 text-center" style="width: 10rem;">
              <h6>{{ cat.nombreCategoria }}</h6>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselCategorias" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselCategorias" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </section>

  <section class="mb-5">
    <h4 class="mb-3">Productos recién aprobados</h4>
    <div id="carouselAprobados" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let grupo of productosAprobadosAgrupados; let i = index"
          [class.active]="i === 0"
        >
          <div class="d-flex justify-content-center gap-3">
            <app-producto-card *ngFor="let producto of grupo" [producto]="producto" ></app-producto-card>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselAprobados" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselAprobados" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </section>

  <div *ngIf="usuarioActivo" class="alert alert-info" role="alert">  
  <section >
    <h4 class="mb-3" >Tus productos en venta</h4>
    <div id="carouselUsuario" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let grupo of productosUsuarioAgrupados; let i = index"
          [class.active]="i === 0"
        >
          <div class="d-flex justify-content-center gap-3">
            <app-producto-card *ngFor="let producto of grupo" [producto]="producto"></app-producto-card>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselUsuario" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselUsuario" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </section>
  </div>
  <div *ngIf="productosUsuarioNoAprobados.length > 0" class="alert alert-info" role="alert">
  <section>
    <h4 class="mb-3">Tus productos no aprobados</h4>
    <div id="carouselUsuario" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let grupo of productosUsuarioNoAprobados; let i = index"
          [class.active]="i === 0"
        >
          <div class="d-flex justify-content-center gap-3">
            <app-producto-card *ngFor="let producto of grupo" [producto]="producto"></app-producto-card>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselUsuario" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselUsuario" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </section>
  </div>
</div>